frontend/.DS_Store
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/test/unit/coverage

frontend/src/pages/Maps/API_KEY.js
frontend/.firebase
frontend/firebase.json
frontend/firestore.indexes.json
frontend/firestore.rules
frontend/.firebaserc

# Editor directories and files
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
